.prefooter {
  background: linear-gradient(
    to right,
    rgb(255, 157, 0),
    rgb(156, 23, 245)
  );
  height: 300px;
  color: white;
}
.buttoninput {
  /* background-color: rgb(234, 131, 131); */
  /* padding: 10px; */

  /* height: 40px; */
}

.prefooter input[type="text"] {
  padding: 13px 20px;
  box-sizing: border-box;
  font-size: 16px;
  color: black;
  font-weight: 600;
  border: none;
}
.prefooter input[type="text"]:focus {
  outline: none;
}
.prefooter .mainContainer {
  display: flex;
  height: 100%;
  flex-flow: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.prefooter .mainContainer h1 {
  text-transform: uppercase;
}

.prefooter .mainContainer .text {
  color: black;
}

.iconsstyle {
  width: 25%;
}
