html {
  font-size: 62.5%;
}

.hsection {
  padding: 4rem 5rem;
  background: linear-gradient(to right, rgb(255, 157, 0), rgb(156, 23, 245));

  font-size: 1.6rem;
}
.ptext {
  font-size: 2.5rem;
  font-weight: bold;
  border-bottom: 0.4rem solid red;
  display: inline;
  padding-bottom: 0.5rem;
}

.productCard {
  width: 30rem;
  height: max-content;
  background: white;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.1rem 1rem rgba(11, 11, 11, 0.1);
  padding: 1rem;
  color: black;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  /* justify-content: center; */
}
.productCard .p1 {
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bold;
  color: rgb(225, 152, 17);
  margin: 0;
  white-space: nowrap;
}
.productCard .p2 {
  width: 80%;
  text-overflow: ellipsis;
  margin: 0;
  overflow: hidden;
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
}
.productCard .p4 {
  width: 80%;
  margin: 0;
  height: 6rem;
  overflow: hidden;
}
.productCard .imgContainer {
  width: 20rem;
  height: 17rem;
}
.productCard .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mainContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
}
.spacea {
  justify-content: space-around;
}
.spaceb {
  justify-content: space-between;
}

@media (max-width: 998px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}
